.loginContainer {
  width: 450px;
  margin: 5rem auto;
  border-radius: 0.2rem;
  background-color: #fff;
  padding: 1rem;
}

.label, .input, .button {
  width: 100%;
  display: block;
  padding: 1rem;
  text-align: left;
  box-sizing: border-box;
  border-radius: 0.2rem;
}

.label {
  padding-left: 0;
}

.input {
  outline: none;
  border: solid 0.5px lightgrey;
}

.button {
  border: none;
  background-color: royalblue;
  color: #fff;
  margin-top: 1rem;
  text-align: center;
}

.errorMsg {
  color: red;
}