.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  background-color: royalblue;
}

.navHeader {
  color: white;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  padding-left: 3rem;
}